{% extends "base.html.twig" %}

{% block title %}WCSCoavBundle:Review:index{% endblock %}

{% block body %}

    <h1>Welcome to the Review:index page</h1>

    <table>
    <thead>
    <tr>
        <th>Id</th>
        <th>User_rated_id</th>
        <th>Review_author_id</th>
        <th>text</th>
        <th>PublicationDate</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <td><a href="{{ path('review_show', { 'id': review.id }) }}">{{ review.id }}</a></td>
            <td>{{ review.userRated }}</td>
            <td>{{ review.reviewAuthor }}</td>
            <td>{{ review.text }}</td>
            <td>{% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ review.note }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('review_show', { 'id': review.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('review_edit', { 'id': review.id }) }}">edit</a>
                    </li>

                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <ul>
        <li>
            <a href="{{ path('review_new') }}"> Create a new review </a>
        </li>
    </ul>
{% endblock %}